@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('sq.ttf');
@font-face {
  font-family: 'ncrypt';
  src: url('sq.ttf');
}
*{
  scroll-behavior: smooth;
}
body{
  background-color: black;
  background: black;
  font-family: 'Red Hat Display', sans-serif;
  overflow-x:hidden;
  color: white;
}
::selection {
  background-color: red;
  color: #fff;
}
.sidebar{
  position: absolute;
  bottom: 2em;
  left: 2em;
  z-index: 2;
}

.welcome{
  color: white;
  font-weight: 200;
  margin-top: 1em;
  margin-left: 1em;
}

.igif{
  pointer-events: none;
  user-select: none;
  z-index:0 !important;
  vertical-align: middle;
}

.ebbubc{
  color: white;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  font-size: 3em;
  font-family: 'Red Hat Display', sans-serif;
  animation: ebbubcoof 1s 1 ease-in-out;
  animation-fill-mode: forwards;
  cursor:default;
}

.teaser{
  display: inline;
  position: absolute;
  right: 3%;
  color: white;
  font-family: 'Poppins', sans-serif;
  top:50%;
  -ms-transform: translateY(-50%); 
  transform: translateY(-50%);
}

#tup{
 color: white;
  float: right;
}

#wtch{
  color: white;
  text-decoration: none;
}
#wtch:hover{
  text-decoration: underline solid 2px white;
  text-underline-offset: 0.2em;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
.navlinks{
  /* none; */
  /* display: inline; */
  transform: rotate(270deg);
  width: 25%;
  margin-top: -3em;
  margin-left: 25em;
}
.navlinka{
  font-size: 5em;margin-left: 0 !important;

  margin-right: 0 !important;
  margin-top: 1.3em;
  width: 0;
  height: 0.8%;
  /* position: relative; */
  /* margin-left: 7em; */
  /* transform: rotate(270deg) !important; */
  /* line-height: 2em; */
}

.navlinka:hover{
  animation: lowbright 0.7s 1;
  animation-fill-mode: forwards;
}

@keyframes lowbright {
  100%{
    filter: brightness(60%);
  }
}

#vid{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.homelogo{
  max-width: 12em;
  display: block;
  margin-left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  bottom: 3em;
  /* pointer-events: none;*/
  user-select: none; 
}

.homelogo:hover{
  animation: wooo 0.5s 1 ease-in-out;
}

@keyframes wooo {
  0%{
    transform: translateX(-50%);
  }
  25%{
    transform: translateX(-58%);
  }
  50%{
    transform: translateX(-42%);
  }
}

#menu{
  z-index: 400;
  font-weight: 400;
  font-family: 'Red Hat Display', sans-serif;
}

#menu:hover{
  color:red;
}

.sidenav{
  position: fixed;
  display: none;
  width: 100%;
  height: 90%;
  top: 8em;
  left: 0;
  right: 0;
  bottom: 0;
  background:#0a0a0a;
  z-index: 2;
  font-family: 'Red Hat Display', sans-serif;
  color: white;
  font-weight: bold;
  overflow-y: hidden;
}
/*  style=" position: absolute; right: 5em; top: 7em; font-family: 'Red Hat Display', sans-serif; font-weight: 400; font-size: 1.7em;" */
.nav-no{
  float: right;
  font-family: 'Red Hat Display', sans-serif;
  position: absolute; right: 5em; top: 7em; font-family: 'Red Hat Display', sans-serif; font-weight: 400; font-size: 1.7em;
  position: absolute;
  color: white;
}
.nav-email{
  position: absolute; right: 5em; top: 10em; font-family: 'Red Hat Display', sans-serif; font-weight: 600; font-size: 1.7em; text-decoration: underline 2px white; text-underline-offset: 0.2em;
}
/*  style=" position: absolute; right: 5em; bottom: 40em;" */
.nav-socials{
  position: absolute;
  top: 22em;
  right: 8em;
}
/* style="float: right; margin-right: -2em; position: absolute; right: 5em; bottom: 7em;" */
.discord-widget{
  position: absolute;
  right:5em;
  top:30em;
}

*:active{
  text-decoration: none;
  border: none;
  outline: none;
}

*:focus{
  text-decoration: none;
  border: none;
  outline: none;
}

.active{
  color: red;
}

a:hover{
  text-decoration: none;
}

.sidebara:hover{
  animation: gloww 0.7s 1;
  animation-fill-mode: forwards;
}

@keyframes gloww {
  0%{
    filter: drop-shadow(0 0 0rem red);
  }
  100%{
    filter: drop-shadow(0 0 0.6rem red);
  }
}

.eventsh{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 800;
font-size: 9em;
margin-top: 11%;
padding: 1em 1em 1em 1em;
letter-spacing: 0.5em;
color: white;
background-color: black;
}

.events{
  position: relative;
}

.eventstxt{
  font-family: 'Red Hat Display', sans-serif;
  color: white;
  display: inline-block;
  width: 40%;
  text-align: left;
  margin-left: 1.3em;
  font-size: 1.7em;
  vertical-align: middle;
}

.eventbtn{
  width: 119px;
height: 44px;
font-size: 0.8em;
}

.eventbtn1{
  width: 150px;
  background-color: transparent;
  font-family: 'Red Hat Display', sans-serif;
  border: solid 1px red;
  animation: bordrroof 0.1s 1;
  animation-fill-mode: forwards;
}

.eventbtn1:hover{
  animation: bordrr 0.1s 1;
  animation-fill-mode: forwards;
}

@keyframes bordrr {
  0%{
    border: solid 1px red;
  }  
  100%{
    border: solid 4px red;
  }
}

@keyframes bordrroof {
  0%{
    border: solid 4px red;
  }
  100%{
    border: solid 1px red;
  }
}

.eventbtn2{
  background-color: red;
  color: black;
  font-family: 'Red Hat Display', sans-serif;
  border: solid 1px red;
  font-weight: 800;
  margin-left: 2em;
  margin-top: 1em;
  animation: btnglowoof 0.4s 1;
  animation-fill-mode: forwards;
}

.eventbtn2:hover{
  animation: btnglow 0.4s 1;
  animation-fill-mode: forwards;
}

@keyframes btnglow {
  0%{
    filter:drop-shadow(0 0 0rem red);
    border-radius: 0;
  }
  100%{
    filter:drop-shadow(0 0 0.9rem red);
    border-radius: 1em;
  }
}

@keyframes btnglowoof {
  0%{
    filter:drop-shadow(0 0 0.9rem red);
    border-radius: 1em;
  }
  100%{
    filter: drop-shadow(0 0 0rem red);
    border-radius: 0;
  }
}

.eventimg{
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}

.eventlogo{
  margin-top: 4em;
  max-width: 16em;
  display: inline;
}

.backevent{
  display: inline;
  vertical-align: middle;
  cursor: pointer;
  float: left;
  margin-top: 3em;
}

.eventtitle{
  color: red;
  font-family: 'ncrypt';
  font-size: 2.4em;
  font-weight: 100;
}
.teambig{
  margin-top: 30em;
}
.bigteamimgleft{
  max-width: 50em;
  float: left;
  margin-left: 2.7em;
  animation: circleiroof 0.3s 1;
  animation-fill-mode: forwards;
}

.bigteamimgleft:hover{
  animation: circleir 0.3s 1;
  animation-fill-mode: forwards;
}

.bigteamimgright{
  max-width: 50em;
  float: right;
  display: flex;
  margin-right: -8em;
  animation: circleiroof 0.3s 1;
  animation-fill-mode: forwards;
}

.bigteamimgright:hover{
  animation: circleir 0.3s 1;
  animation-fill-mode: forwards;
}

#dirh{
  
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 800;
font-size: 3.3em;
margin-top: 11%;
padding: 1em 1em 1em 1em;
letter-spacing: 0.2em;
color: white;
margin-left: 2em;
background-color: black;
}
  /* 
  .bigteamimg{
    user-select: none;
    pointer-events: none;
  } */

.dir{
  font-family: 'Red Hat Display', sans-serif;
  color: white;
  width: 25%;
  display: inline-block;
}

@keyframes circleiroof {
  0%{
    filter: drop-shadow(0 0 0.9rem red);
  }
  100%{
    /* border-radius: 1em; */
  }
}

.dir-img{
  max-width: 30em;
  border-radius: 1em;
  animation: circleiroof 0.2s 1;
  animation-fill-mode: forwards;
}
.dir-img:hover{
  animation: circleir 0.2s 1 ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes circleir {
  0%{
    
  }
  100%{
    filter: drop-shadow(0 0 0.9rem red);
  }
}

.dir-name{
  color: white;
  font-size: 2em;
  font-weight: 600;
  margin-left: 0;
  margin-block-end: 0;
  text-align: center;
}

.dir-dir{
  color: rgb(255, 0, 0);
  font-size: 1.4em;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left: 0;
  text-align: center;
}

.dir-thing{
  color: white;
  font-size: 1.6em;
  font-weight: 200;
  margin-left: 0;
  margin-block-end: 0;
  text-align: center;
}

/* Leads */
#leadh{
  
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 800;
font-size: 3.3em;
padding: 1em 1em 1em 1em;
letter-spacing: 0.2em;
color: white;
margin-right: 2em;
text-align: right;
background-color: black;
}

.lead{
  font-family: 'Red Hat Display', sans-serif;
  color: white;
  width: 25%;
  display: inline-block;
  margin-left: 5em;
  
}

.lead-img{
  max-width: 25em;
  animation: circleiroof 0.5s 1;
  animation-fill-mode: forwards;
  border-radius: 1em;
}

.lead-img:hover{
  animation: circleir 0.5s 1;
  animation-fill-mode: forwards;
}

.lead-name{
  color: white;
  font-size: 2em;
  font-weight: 600;
  margin-left: 0;
  margin-block-end: 0;
  text-align: center;
}

.lead-dir{
  color: rgb(255, 0, 0);
  font-size: 1.4em;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left: 0;
  text-align: center;
}

/* Core Teem */
#coreh{
  
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 800;
font-size: 3.3em;
padding: 1em 1em 1em 1em;
letter-spacing: 0.2em;
color: white;
background-color: black;
}

.core{
  font-family: 'Red Hat Display', sans-serif;
  color: white;
  width: 20%;
  display: inline-block;
  margin-left: 1em;
}

.core-img{
  max-width: 25em;
  border-radius: 1em;
  animation: circleiroof 1s 1;
  animation-fill-mode: forwards;
}

.core-img:hover{
  animation: circleir 1s 1;
  animation-fill-mode: forwards;
}
.core-name{
  color: white;
  font-size: 2em;
  font-weight: 600;
  margin-left: 0;
  margin-block-end: 0;
  text-align: center;
}

.core-dir{
  color: rgb(255, 0, 0);
  font-size: 1.4em;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left: 0;
  text-align: center;
}

/*------------------------------------*\
	Preloader
\*------------------------------------*/
div.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
  width: 100%;
  height: 100%;
}
div.loader p {
  margin: 1em 0 0 0;
  font-size: 16px;
  color: white;
  font-size: 28px;
}
  
div.logo1 {
  width: 130px;
  height: 130px;
  box-sizing: border-box;
  position: relative;
  background-color: black;
}

div.logo1::before,
div.logo1::after {
  z-index: 1;
  box-sizing: border-box;
  content: "";
  position: absolute;
  border: 4px solid transparent;
  width: 0;
  height: 0;
  animation-direction: alternate;
  animation-timing-function: linear;
}
div.logo1::before {
  top: 0;
  left: 0;
  animation: border-before 1.5s infinite;
  animation-direction: alternate;
}
div.logo1::after {
  bottom: 0;
  right: 0;
  animation: border-after 1.5s infinite;
  animation-direction: alternate;
}
div.logo1 > div {
  position: absolute;
  opacity: 0;
}
div.logo1 div.red2 {
  border-left: 4px solid black;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  background-color: red;
  animation: red 1.5s infinite;
  animation-direction: alternate;
}
div.logo1 div.orange {
  border-bottom: 4px solid black;
  left: 0;
  bottom: 0;
  right: 0;
  height: 0;
  background-color: red;
  animation: orange 1.5s infinite;
  animation-direction: alternate;
}
div.logo1 div.red {
  border-right: 4px solid black;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: red;
  animation: red 1.5s infinite;
  animation-direction: alternate;
}
  
@keyframes red {
  0%,
  50% {
    width: 0;
    opacity: 0;
  }
  50.01% {
    opacity: 1;
  }
  65%,
  100% {
    opacity: 1;
    width: 20%;
  }
}
@keyframes orange {
  0%,
  65% {
    height: 0;
    opacity: 0;
    top: 0;
  }
  65.01% {
    opacity: 1;
  }
  80%,
  100% {
    opacity: 1;
    height: 30%;
    width: 65%;
    height: 20%;
    left: 20%;
    top: 0;
  }
}
@keyframes red2 {
  0%,
  75% {
    width: 0;
    opacity: 0;
  }
  75.01% {
    opacity: 1;
  }
  90%,
  100% {
    opacity: 1;
    width: 20%;
  }
}
.prakhar:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}
  
@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: red;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 red, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 red, 0.5em 0 0 red;
  }
}
  /* ScrollBar */
  /* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
/* Track */
::-webkit-scrollbar-track {
  background:black;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 0, 0);
  border-radius: 10em;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(215, 1, 1);
}

.schnice{
  max-width: 60em;
}

/* RESPONSIVE */
@media screen and ( max-height: 715px ) { 
  .navlinks{
    margin-top: -13em;
  }
}
@media screen and (max-height: 607px) {
  .navlinks{
    margin-top: -20em;
  }
}
@media screen and (max-height: 541px) {
  .navlinks{
    margin-top: -27em;
  }
}
@media screen and (max-height: 477px) {
  .navlinks{
    margin-top: -34em;
  }
}
@media screen and (max-width: 607px) {
  .schnice{
    max-width: 40em;
  }
}
@media screen and (max-width: 768px) {
  .eventsh{
    font-size: 6em;
  }
}
@media screen and (max-width:1111px) {
  .bigteamimgright{
    margin-right: 0;
  }
}
@media screen and (max-width:1215px) {
  .navlinks{
    margin-left: 34em;
  }
}
@media screen and (max-width:766px) {
  .navlinks{
    transform: rotate(0);
    width: 100%;
    margin-top: 0.8em;
    margin-left: 5em;
  }
  .sidenav{
    overflow-y: scroll;
  }
  .discord-widget{
    position: relative;
    margin-top: 25em;
  }
  .nav-no{
    position: relative;
    /* align-items: center; */
    float: right;
  }
  .nav-socials{
    position: relative;
    /* align-items: center; */
    /* right: -1; */
    /* margin-right: -6em; */
    float: right;
    
  }
  .nav-email{
    position: relative;
    /* margin-left:20em; */
    align-items: center;
    margin-right: -2em;
    right: 0;
    float: right;
  }
}

@media screen and (max-height:682px) {
  .discord-widget{
    top: 2em;
    right: 27em;
  }
}

@media screen and (max-width:1084px) {
  .discord-widget{
    left: 7em;
    position: relative;
  }
}

@media screen and (max-width:1180px) {
  .dir-img{
    max-width: 20em;
  }
}

@media screen and (max-width:1180px) {
  .dir-img{
    max-width: 20em;
  }
}

@media screen and (max-width:808px) {
  .dir{
    position: relative;
    margin-top: 2em;
    display: block;
    margin-left: 0;
    width: 100%;
  }
  .lead{
    position: relative;
    margin-top: 2em;
    margin-left: 0;
    display: block;
    width: 100%;
  }
  .core{
    position: relative;
    margin-top: 2em;
    margin-left: 0;
    display: block;
    width: 100%;
  }
  #core-breakpoint{
    margin-top: -3em;
  }
  .core-img{
    max-width: 20em !important;
  }
}

@media screen and (max-width:1124px){
  .lead{
    margin-right: 0em;
  }
  .lead-img{
    max-width: 20em;
  }
}

@media screen and (max-width:1218px){
  .core-img{
    max-width: 20em;
  }
}

@media screen and (max-width:972px) {
  .core-img{
    max-width: 10em;
  }
}

@media screen and(max-width:862px) {
  .core{
    position: relative;
    margin-top: 2em;
    display: block;
    width: 100%;
  }
  .core-img{
    max-width: 20em !important;
  }
  #core-breakpoint{
    margin-top: -3em;
  }
}

@media screen and (max-width: 552px) {
  .bigteamimg{
    max-width: 40em;
  }
}

@media screen and (max-width:540px){
  .nav-socials{
    margin-right:-6em;
  }
}

@media screen and (max-width:992px){
  .eventstxt{
    width: 80%;
  }
}

@media screen and (max-width:339px){
  .nav-socials{
    margin-right: -21em;
  }
  .nav-email{
    margin-right: -5em;
  }
}

@media screen and (max-width: 460px){
  .bigteamimg{
    max-width: 30em;
  }
  .eventsh{
    font-size: 4em;
  }
  
}

@media screen and (max-width: 383px) {
  .eventbtn2{
    margin-left: 0;
  }
}

@media screen and (max-width:1464px){
  .bigteamimgright{
    margin-right: 1em;
  }
}