@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('sq.ttf');
@font-face {
  font-family: 'ncrypt';
  src: url('sq.ttf');
}
*{
  scroll-behavior: smooth;
}
body{
  background-color: black;
  background: black;
  font-family: 'Red Hat Display', sans-serif;
  overflow-x:hidden;
  color: white;
}
::selection {
  background-color: red;
  color: #fff;
}
.sidebar{
  position: absolute;
  bottom: 2em;
  left: 2em;
  z-index: 2;
}

.welcome{
  color: white;
  font-weight: 200;
  margin-top: 1em;
  margin-left: 1em;
}

.igif{
  pointer-events: none;
  user-select: none;
  z-index:0 !important;
  vertical-align: middle;
}

.ebbubc{
  color: white;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  font-size: 3em;
  font-family: 'Red Hat Display', sans-serif;
}


.teaser{
  display: inline;
  position: absolute;
  right: 3%;
  color: white;
  font-family: 'Poppins', sans-serif;
  top:50%;
  -ms-transform: translateY(-50%); 
  transform: translateY(-50%);
}

#tup{
 color: white;
  float: right;
}

#wtch{
  color: white;
  text-decoration: none;
}
#wtch:hover{
  text-decoration: underline solid 2px white;
  text-underline-offset: 0.2em;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
.navlinks{
  /* none; */
  /* display: inline; */
  transform: rotate(270deg);
  width: 25%;
  margin-top: -3em;
  margin-left: 25em;
}
.navlinka{
  font-size: 5em;margin-left: 0 !important;

  margin-right: 0 !important;
  margin-top: 1.3em;
  width: 0;
  height: 0.8%;
  /* position: relative; */
  /* margin-left: 7em; */
  /* transform: rotate(270deg) !important; */
  /* line-height: 2em; */
}

#vid{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.homelogo{
  max-width: 12em;
  display: block;
  margin-left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  bottom: 3em;
  pointer-events: none;
  user-select: none;
}

#menu{
  z-index: 400;
  font-weight: 400;
  font-family: 'Red Hat Display', sans-serif;
}

.sidenav{
  position: fixed;
  display: none;
  width: 100%;
  height: 90%;
  top: 8em;
  left: 0;
  right: 0;
  bottom: 0;
  background:#0a0a0a;
  z-index: 2;
  font-family: 'Red Hat Display', sans-serif;
  color: white;
  overflow-y: hidden;
}

*:active{
  text-decoration: none;
  border: none;
  outline: none;
}

*:focus{
  text-decoration: none;
  border: none;
  outline: none;
}

.active{
  color: red;
}

a:hover{
  text-decoration: none;
}

.sidebara:hover{
  animation: gloww 0.7s 1;
  animation-fill-mode: forwards;
}

@keyframes gloww {
  0%{
    filter: drop-shadow(0 0 0rem red);
  }
  100%{
    filter: drop-shadow(0 0 0.6rem red);
  }
}

.eventsh{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 800;
font-size: 9em;
margin-top: 11%;
padding: 1em 1em 1em 1em;
letter-spacing: 0.5em;
color: white;
background-color: black;
}

.events{
  position: relative;
}

.eventstxt{
  font-family: 'Red Hat Display', sans-serif;
  color: white;
  display: inline-block;
  width: 40%;
  text-align: left;
  margin-left: 1.3em;
  font-size: 1.7em;
  vertical-align: middle;
}

.eventbtn{
  width: 119px;
height: 44px;
font-size: 0.8em;
}

.eventbtn1{
  width: 150px;
  background-color: transparent;
  font-family: 'Red Hat Display', sans-serif;
  border: solid 1px red;
}

.eventbtn2{
  background-color: red;
  color: black;
  font-family: 'Red Hat Display', sans-serif;
  border: solid 1px red;
  font-weight: 800;
  margin-left: 2em;
  margin-top: 1em;
}

.eventimg{
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}

.eventlogo{
  margin-top: 4em;
  max-width: 16em;
  display: inline;
}

.backevent{
  display: inline;
  vertical-align: middle;
  cursor: pointer;
  float: left;
  margin-top: 3em;
}

.eventtitle{
  color: red;
  font-family: 'ncrypt';
  font-size: 2.4em;
  font-weight: 100;
}

.bigteamimgleft{
  max-width: 40em;
  float: left;
  margin-left: 2.7em;
}

.bigteamimgright{
  max-width: 40em;
  float: right;
  display: flex;
  margin-right: -8em;
}

#dirh{
  
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 800;
font-size: 3.3em;
margin-top: 11%;
padding: 1em 1em 1em 1em;
letter-spacing: 0.2em;
color: white;
margin-left: 2em;
background-color: black;
}

.bigteamimg{
  user-select: none;
  pointer-events: none;
}
.dir{
  font-family: 'Red Hat Display', sans-serif;
  color: white;
  width: 25%;
  display: inline-block;
}

.dir-img{
  max-width: 30em;
  border-radius: 1em;
}

.dir-name{
  color: white;
  font-size: 2em;
  font-weight: 600;
  margin-left: 0;
  margin-block-end: 0;
  text-align: center;
}

.dir-dir{
  color: rgb(255, 0, 0);
  font-size: 1.4em;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left: 0;
  text-align: center;
}

.dir-thing{
  color: white;
  font-size: 1.6em;
  font-weight: 200;
  margin-left: 0;
  margin-block-end: 0;
  text-align: center;
}

/* Leads */
#leadh{
  
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 800;
font-size: 3.3em;
padding: 1em 1em 1em 1em;
letter-spacing: 0.2em;
color: white;
margin-right: 2em;
text-align: right;
background-color: black;
}

.lead{
  font-family: 'Red Hat Display', sans-serif;
  color: white;
  width: 25%;
  display: inline-block;
  margin-left: 5em;
}

.lead-img{
  max-width: 25em;
  border-radius: 1em;
}

.lead-name{
  color: white;
  font-size: 2em;
  font-weight: 600;
  margin-left: 0;
  margin-block-end: 0;
  text-align: center;
}

.lead-dir{
  color: rgb(255, 0, 0);
  font-size: 1.4em;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left: 0;
  text-align: center;
}

/* Core Teem */
#coreh{
  
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 800;
font-size: 3.3em;
padding: 1em 1em 1em 1em;
letter-spacing: 0.2em;
color: white;
background-color: black;
}

.core{
  font-family: 'Red Hat Display', sans-serif;
  color: white;
  width: 20%;
  display: inline-block;
  margin-left: 1em;
}



.core-img{
  max-width: 25em;
  border-radius: 1em;
}

.core-name{
  color: white;
  font-size: 2em;
  font-weight: 600;
  margin-left: 0;
  margin-block-end: 0;
  text-align: center;
}

.core-dir{
  color: rgb(255, 0, 0);
  font-size: 1.4em;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left: 0;
  text-align: center;
}

/*------------------------------------*\
	Preloader
\*------------------------------------*/
div.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
  width: 100%;
  height: 100%;
}
div.loader p {
  margin: 1em 0 0 0;
  font-size: 16px;
  color: white;
  font-size: 28px;
}
  
div.logo1 {
  width: 130px;
  height: 130px;
  box-sizing: border-box;
  position: relative;
  background-color: black;
}

div.logo1::before,
div.logo1::after {
  z-index: 1;
  box-sizing: border-box;
  content: "";
  position: absolute;
  border: 4px solid transparent;
  width: 0;
  height: 0;
  animation-direction: alternate;
  animation-timing-function: linear;
}
div.logo1::before {
  top: 0;
  left: 0;
  animation: border-before 1.5s infinite;
  animation-direction: alternate;
}
div.logo1::after {
  bottom: 0;
  right: 0;
  animation: border-after 1.5s infinite;
  animation-direction: alternate;
}
div.logo1 > div {
  position: absolute;
  opacity: 0;
}
div.logo1 div.red2 {
  border-left: 4px solid black;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  background-color: red;
  animation: red 1.5s infinite;
  animation-direction: alternate;
}
div.logo1 div.orange {
  border-bottom: 4px solid black;
  left: 0;
  bottom: 0;
  right: 0;
  height: 0;
  background-color: red;
  animation: orange 1.5s infinite;
  animation-direction: alternate;
}
div.logo1 div.red {
  border-right: 4px solid black;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: red;
  animation: red 1.5s infinite;
  animation-direction: alternate;
}
  
@keyframes red {
  0%,
  50% {
    width: 0;
    opacity: 0;
  }
  50.01% {
    opacity: 1;
  }
  65%,
  100% {
    opacity: 1;
    width: 20%;
  }
}
@keyframes orange {
  0%,
  65% {
    height: 0;
    opacity: 0;
    top: 0;
  }
  65.01% {
    opacity: 1;
  }
  80%,
  100% {
    opacity: 1;
    height: 30%;
    width: 65%;
    height: 20%;
    left: 20%;
    top: 0;
  }
}
@keyframes red2 {
  0%,
  75% {
    width: 0;
    opacity: 0;
  }
  75.01% {
    opacity: 1;
  }
  90%,
  100% {
    opacity: 1;
    width: 20%;
  }
}
.prakhar:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}
  
@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: red;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 red, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 red, 0.5em 0 0 red;
  }
}
  /* ScrollBar */
  /* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
/* Track */
::-webkit-scrollbar-track {
  background:black;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 0, 0);
  border-radius: 10em;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(215, 1, 1);
}